[submodule "brand"]
	path = brand
	url = git@github.com:thejamesdempsey/cru-brand.git

[submodule "prototypes/alpha/dev/styles/inuit.css"]
	path = prototypes/alpha/dev/styles/inuit.css
	url = https://github.com/thejamesdempsey/inuit.css.git


[submodule "prototypes/beta/dev/styles/inuit.css"]
	path = prototypes/beta/dev/styles/inuit.css
	url = https://github.com/thejamesdempsey/inuit.css.git
	
[submodule "prototypes/gamma/dev/styles/inuit.css"]
	path = prototypes/beta/gamma/styles/inuit.css
	url = https://github.com/thejamesdempsey/inuit.css.git