[submodule "brand"]
	path = brand
	url = https://github.com/thejamesdempsey/cru-brand.git
[submodule "inuit.css"]
	path = dev/styles/inuit.css
	url = https://github.com/thejamesdempsey/inuit.css.git
[submodule "prototypes/alpha/dev/styles/inuit.css"]
	path = prototypes/alpha/dev/styles/inuit.css
	url = https://github.com/thejamesdempsey/inuit.css.git
