

body{
	background-color: $gray-lighter;
	padding-top: 40px;
}

ol, ul, li, hgroup, h1, h2, h3, h4, p{
	margin-bottom: 0;
}

.wrapper{
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 24px;
	padding-left: 24px;
}

.site-header{
	height: auto;	
}

	.navigation-wrapper{
		position: fixed;
		top: 0;
		overflow: hidden;
		z-index: 505;
	
		width: 100%;
		height: 100%;
		max-height: 40px;
	
		@include vendor(box-shadow, 0 1px 1px rgba(6, 8, 8, 0.1));
	}
	
		.site-navigation{
			position: absolute;
			top: 0;
			overflow: hidden;
			z-index: 500;

			width: 100%;
			height: 40px;
			max-height: 100%;
			background-color: #666062;
			//background-color: $gray-lighter;
			a{
				padding: 0 18px;
				color: #fff;
				
				font-weight: 600;
				font-size: 14px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				vertical-align: middle;
				border-bottom: none;
			}
		}
		
		.site-logo--mobile{
			display: inline-block;
			overflow: hidden;
			width: 27%;
				max-width: 70px;
				height: 55px;
				background: url("../images/cru-logo.png");
				background-image: url("../images/cru-logo.svg");
				//background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2297.409px%22%20height%3D%2268.586px%22%20viewBox%3D%220%200%2097.409%2068.586%22%20enable-background%3D%22new%200%200%2097.409%2068.586%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Master_Logos%22%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpath%20fill%3D%22%23626062%22%20d%3D%22M27.224%2C52.608c-1.892%2C2.15-3.905%2C3.151-6.333%2C3.151c-4.325%2C0-7.844-3.648-7.844-8.132v-0.072%0D%0A%09%09%09c0-4.52%2C3.429-8.06%2C7.808-8.06c2.394%2C0%2C4.387%2C0.937%2C6.273%2C2.949l0.4%2C0.427l1.401-1.307l-0.406-0.429%0D%0A%09%09%09c-1.648-1.748-3.845-3.535-7.632-3.535c-2.665%2C0-5.149%2C1.052-6.994%2C2.963c-1.817%2C1.881-2.818%2C4.377-2.818%2C7.028v0.073%0D%0A%09%09%09c0%2C5.509%2C4.385%2C9.991%2C9.775%2C9.991c3.078%2C0%2C5.628-1.234%2C7.796-3.773l0.364-0.427l-1.392-1.301L27.224%2C52.608z%22/%3E%0D%0A%09%09%3Cpath%20fill%3D%22%23626062%22%20d%3D%22M34.489%2C41.473v-3.44h-1.932v19.189h1.932v-9.92c0-3.26%2C2.531-7.807%2C6.655-7.807h0.767v-1.89L41.254%2C37.6%0D%0A%09%09%09C38.182%2C37.6%2C35.867%2C39.307%2C34.489%2C41.473%22/%3E%0D%0A%09%09%3Cpath%20fill%3D%22%23626062%22%20d%3D%22M58.599%2C38.033v10.712c0%2C4.458-2.294%2C7.015-6.295%2C7.015c-4%2C0-6.295-2.557-6.295-7.015V38.033h-1.931%0D%0A%09%09%09v10.784c0%2C5.452%2C3.124%2C8.838%2C8.154%2C8.838h0.144c5.029%2C0%2C8.153-3.386%2C8.153-8.838V38.033H58.599z%22/%3E%0D%0A%09%09%3Cpolygon%20fill%3D%22%233DB1C8%22%20points%3D%2273.39%2C10.931%2073.39%2C23.803%2086.328%2C23.803%2086.328%2C25.677%2071.517%2C25.677%2071.517%2C10.909%20%09%09%22/%3E%0D%0A%09%09%3Cpolygon%20fill%3D%22%23007398%22%20points%3D%2267.328%2C23.803%2067.328%2C14.745%2069.203%2C14.751%2069.203%2C25.677%2058.122%2C25.677%2058.122%2C23.803%20%09%09%22/%3E%0D%0A%09%09%3Cpolygon%20fill%3D%22%23DD7D1B%22%20points%3D%2282.507%2C27.983%2082.507%2C29.858%2073.39%2C29.858%2073.39%2C48.018%2071.517%2C48.018%2071.517%2C27.983%20%09%09%22/%3E%0D%0A%09%09%3Cpolygon%20fill%3D%22%23F9B625%22%20points%3D%2269.203%2C27.983%2069.203%2C37.62%2069.203%2C42.867%2067.328%2C42.867%2067.328%2C29.857%2054.358%2C29.857%20%0D%0A%09%09%0954.358%2C27.983%20%09%09%22/%3E%0D%0A%09%09%3Cpath%20fill%3D%22%23626062%22%20d%3D%22M76.046%2C47.238c0-0.454%2C0.366-0.822%2C0.82-0.822s0.82%2C0.368%2C0.82%2C0.822c0%2C0.451-0.366%2C0.82-0.82%2C0.82%0D%0A%09%09%09S76.046%2C47.69%2C76.046%2C47.238z%20M76.866%2C46.484c-0.414%2C0-0.747%2C0.343-0.747%2C0.755s0.333%2C0.75%2C0.747%2C0.75%0D%0A%09%09%09c0.414%2C0%2C0.747-0.338%2C0.747-0.75S77.28%2C46.484%2C76.866%2C46.484z%20M76.695%2C47.672H76.57v-0.887c0%2C0%2C0.283%2C0%2C0.286%2C0%0D%0A%09%09%09c0.223%2C0%2C0.338%2C0.103%2C0.338%2C0.273c0%2C0.13-0.07%2C0.216-0.175%2C0.256l0.223%2C0.358h-0.145l-0.203-0.328l-0.198%2C0.01V47.672z%0D%0A%09%09%09%20M76.851%2C47.241c0.145-0.003%2C0.218-0.068%2C0.218-0.176c0-0.115-0.073-0.168-0.226-0.168c-0.002%2C0-0.15%2C0-0.15%2C0v0.348%0D%0A%09%09%09L76.851%2C47.241z%22/%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22Layer_4%22%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22Labels%22%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A);
			
				background-repeat: no-repeat;
				background-position: top center;
				background-size: contain;
			
			.cru-logo{
				line-height: 40px;
				text-align: center;
				vertical-align: middle;
			}
		}
		
		.site-links{
			display: inline-block;
			width: 70%;
			vertical-align: middle;
			display: none;
		}
		
		.right-links{
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			float: right;

			text-align: right;
			
			.user-actions{
				display: none;
			}
			
			.user-actions:last-of-type {
				display: inline-block;
			}
		}

	


.title-group{
	width: 119px;
	display: none;
	margin-right: 10px;
	
}

.community-title{
	font-size: 2.8em;
	line-height: 1;
}

.crumbs a, .title-group a{
	border-bottom: none;
}

.crumbs{
	font-size: 80%;
	
	> li{
		padding-right: 4px;
		/*&:not(:last-child):after{
			content: ' / ';
			display: inline-block;
		}*/
		
		&:after{
			content: ' / ';
			display: inline-block;
		}
		
		> a{
			padding-right: 4px;
		}
	}
}

	nav[role="navigation"]{
		width: 73%;
		height: 40px;
		vertical-align: middle;
		display: inline-block;
	}

	.site-nav{
		display: inline-block;
		width: 70%;
		vertical-align: middle;
	}
	
	.right-nav{
		display: inline-block;
		width: 30%;
		vertical-align: middle;
		float: right;
		
		text-align: right;
	}
		.user-actions{
			display: inline-block;
			
			& > li{
				display: inline-block;
			}
		}


.headband{
	background-color: #fff;
	
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: $cru-gold;
}

.feature-image figure{
	position: relative;
	
	.sub-nav{
		background-color: $gray-darker;
		
		li{
			display: inline-block;
			width: 50%;
		}
		
		a{
			padding: 4px 18px;
			text-transform: capitalize;
			color: #fff;
			
			&:hover{
				color: darken(#ffffff, 25%);
			}
		}
		
		
	}

}


.blog-post{
	border-top: 1px solid rgba(6,8,8,0.1);
	
	h1 a{
		border-bottom: none;
		
		&:hover{
			color: $cru-accent-light;
			border-bottom: none;
		}
		
	}
	
	&:first-child{
		border-top: none;
	}
}

@media all and (min-width: 400px){
	.site-logo--mobile{
		width: 18%;
	}
	
	nav[role="navigation"]{
		width: 82%;
	}
	
}

@media all and (min-width: 480px){
	.feature-image figure {
		
		.sub-nav{
			position: absolute;
			width: 100%;
			background: rgba(0, 0, 0, 0.7);
			
			li{
				width: auto;
			}
		}
	}
	
}

@media all and (min-width: 33.625em){
	.post-group{
		width: 75%;
		margin: 0 auto;
		
		h1{
			font-weight: bold;
		}
	}
}


@media all and (min-width: 550px){
	.site-logo--mobile{
		width: 11%;
	}
	
	nav[role="navigation"]{
		width: 89%;
	}
	
	.community-title{
		font-size: 3.25em;
	}
}


@media all and (min-width: 800px){
	.site-logo--mobile{
		display: none;
	}
	
	nav[role="navigation"]{
		width: 100%;
	}
	
	.site-links{
		display: inline-block;
		width: 74%;
	}
	
	.right-links{
		width: 26%;
		
		a{
			font-size: 80%;

		}
	}
	
	.title-group{
		display: inline-block;
	}
	
	.community-info{
		width: 83%;
	}
	
	.feature-image figure{

		.sub-nav{
			left: 130px;
			
			li{
				width: auto;
			}
		}
	
	}
}

@media all and (max-width: 1099px){
	.feature-image .wrapper{
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and (min-width: 835px){
	.site-links{
		display: inline-block;
		width: 67%;
	}
	
	.right-links{
		width: 33%;
		.user-actions{
			display: inline-block;
		}
	}
	
	.toggle-topbar{
		display: none;
	}
	
}

@media all and (min-width: 913px){

	
}

@media all and (min-width: 1100px){
	.feature-image figure{

		.sub-nav{
			width: 922px;
		}
	
	}
}

